<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
	  <img class="roundrect" src="{{ site.baseurl }}/assets/images/dsantani.jpeg"  style="float:left;" hspace="10">
      <span style="font-size: 1.7rem; font-weight: 500"> {{ site.title }} </span>
      <nav class="site-nav right">
        {% include navigation.html %}
      </nav>
    </div>
	
	<!--
	<p> Email: dsantani at idiap dot ch </p>
	-->
	
	<br/>
    <div class="svgico">
		<a href="https://twitter.com/SabMayaHai"><img src="{{ site.baseurl }}/assets/images/icons/twitter.svg" height="40px"></a>
    </div>
    <div class="svgico">
          <a href="https://www.linkedin.com/in/dsantani"><img src="{{ site.baseurl }}/assets/images/icons/linkedin.svg" height="40px"></a>
    </div>
	<div class="svgico">
          <a href="http://www.slideshare.net/dsantani"><img src="{{ site.baseurl }}/assets/images/icons/slideshare.svg" height="40px"></a>
    </div>    

  </div>
</header>
